inference/
augmented_crops/
augmented_labels.txt
finetune_rec_out/
finetune_output/
finetune_dataset/
PaddleOCR/
ocr_service/
models/
uploads/*
!uploads/seed_*.jpg
*.py
*.yaml
*.yml
*.csv
*.txt
*.log
.env
